{% load humanize %}

<ul class="list-group mb-3">
  {% for m in items %}
    <li class="list-group-item d-flex align-items-center gap-3">

      {% if m.poster_url %}
        <img src="{{ m.poster_url }}" width="55" height="82" class="rounded">
      {% endif %}

      <span class="flex-fill">
        <a href="{{ m.trailer }}" target="_blank" class="fw-bold">
          {{ m.title }}
        </a>
        • {{ m.like_count|intcomma }} like{{ m.like_count|pluralize }}
      </span>

    </li>
  {% endfor %}
</ul>