{% extends 'movies/base.html' %}
<!-- Block/Tab Title -->
{% block title %}Sam's Picks: Add Movie / TV Show{% endblock %}

{% block content %}

<div class="row justify-content-center">

    <div class="col-md-8">

        <!-- Page Title -->
        <h2 class="mb-4">Add Title for Voting</h2>

        <!-- Title search input -->
        <form method="post">
          {% csrf_token %}

          <!-- title input -->
          <div class="mb-3">
            {{ form.title.label_tag }}          <!-- “Title” label -->
            {{ form.title }}                    <!-- text box -->
          </div>

          <!-- media-type dropdown -->
          <div class="mb-3">
            {{ form.media_type.label_tag }}     <!-- “Media type” label -->
            {{ form.media_type }}               <!-- Movie / TV select -->
          </div>

          <button type="submit" class="btn btn-success">Import</button>
        </form>

        <!-- Displays message whether result was a success or error -->
        {% if message %}

            <div class="alert alert-info mt-4">{{ message }}</div>

        {% endif %}

    </div>

</div>

{% endblock %}